<div class="container">
    <!-- <div class="alert alert-success" *ngIf="connectionStatus=='online'">
        You are online
    </div> -->
    <div class="alert alert-danger" *ngIf="connectionStatus=='offline'">
        Your are currently offline.
    </div>
    <h1 class="mb-4">Angular Workbox V10</h1>
    <button class="btn btn-success" (click)="createPost()">Create Post</button>
    <div class="card mb-2" *ngFor="let post of posts">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.body}}</h6>
        </div>
    </div>
</div>